extends layout

block content
  main
    div(id="title")
      h1 donate to
      h2
        span(style="width:93px")
        |Maciej Błędkowski#{nick}
    div(id="currencies")
      div(class="currencyBox")
        img
        h4 bitcoin
        div(class="bar")
      div(class="currencyBox")
        img
        h4 ethereum
        div(class="bar")
      div(class="currencyBox")
        img
        h4 dash
        div(class="bar")
      div(class="currencyBox")
        img
        h4 monero
        div(class="bar")
      div(class="currencyBox")
        img
        h4 bitcoin
        div(class="bar")
      div(class="currencyBox")
        img
        h4 ethereum
        div(class="bar")
      div(class="currencyBox")
        img
        h4 dash
        div(class="bar")
      div(class="currencyBox")
        img
        h4 monero
        div(class="bar")
    div(id="footer")
      h3 continue
      h3(id="endcard") thanks for supporting